@charset "UTF-8";

* {
    box-sizing: border-box;
}

.load {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 50px;
    color: orangered;
    width: 100%;
    height: 100vh;
    z-index: 1;
    position: fixed;
    background-color: whitesmoke;
   text-align: center;
   padding-top: 250px;
  
}



.load::after {
    content: '\2026';
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;
    animation: dots steps(4, end) 2s infinite;
    width: 0px;
}

@keyframes dots {
    to {
        width: 1.20em;
    }
}